.main {
  width: 100vw;
  text-align: center;
}

.topBar {
  display: block;
  width: 100%;
  padding: 1rem;
  background: var(--gp-green);
}

.picture {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 15rem;
  padding: 1rem 1rem;
  color: var(--white);
}

.heading {
  line-height: 120%;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}

.highlighted {
  color: var(--gp-green);
}

.url {
  color: var(--white);
  font-size: .95rem;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6 );
  letter-spacing: 2px;
}

@media (min-width: 992px) {
  .picture {
    min-height: 20rem;
    font-size: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .url {
    color: var(--white);
    font-size: 1.25rem;
  }
}
