.main {
  width: 100vw;
  text-align: center;
  position: relative;
}

.topBar {
  display: block;
  width: 100%;
  padding: 1rem;
  background: var(--gp-green);
}

.topBar h4 {
  font-size: 1.2rem;
}

.picture {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 15rem;
  padding: 1rem 1rem;
  color: var(--white);
}

.credits {
  position: absolute;
  bottom: 20px;
  right: 40px;
  color: whitesmoke;
}

.headerText {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: auto;
}

.headerText p {
  display: inline-block;
  color: white;
  font-size: 1.25rem;
  background-color: black;
  display: inline;
}

.heading {
  line-height: 120%;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  font-size: 4rem;
}

.highlighted {
  color: #ffe100;
}

.url {
  color: var(--white);
  font-size: .95rem;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6 );
  letter-spacing: 2px;
}

.slider {
  position: relative;
  height: 400px;
}

.sliderWrapper {
  display: flex;
  position: absolute;
  height: 100%;
  transition: all .5s ease;
}

.sliderItem {
  position: relative;
  flex: 1;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 992px) {
  .slider {
    height: 600px;
  }

  .headerText {
    bottom: 80px;
  }

  .headerText p {
    font-size: 1.75rem;
    padding: 0 10px;
  }

  .picture {
    min-height: 20rem;
    font-size: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .url {
    color: var(--white);
    font-size: 1.25rem;
  }

  .heading {
    font-size: 5rem;
  }
}
